body{
    background-color: grey;
}
.padContainer {
    display: flex;
    margin: auto;
    border: 2px solid black;
     width: 960px;
    height: 960px;
  } 

  .rows {    
   display: flex;
    border: 1px solid black;
      }
  .cell {
     border: 1px solid white;     
     background-color: white;
 
  }
